<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>insta485</title>
		  <style>
    a { text-decoration: none; color: black}

  </style>
      <link rel="stylesheet" href="/static/css/comments_style.css">

</head>
<body>
	<main>
		<p style="text-align:left;">
    		<a href="/"><img src="/static/images/logo.png" alt="ins logo" style="width:3%"></a>
    		<span style="float:right;">
    		<a href="/explore/"><b>explore</b></a> |
			<a href="/users/{{logname}}/"><b>{{logname}}</b></a>
    		</span>
		</p>
<hr>
		{% for post in posts %}
			<div class="posts">
				<p style="text-align:left;">
					<a href="/users/{{post.owner}}/"><img src="/uploads/{{post.profile_pic}}" alt="profile" style="width:5%"></a><a href="/users/{{post.owner}}/"> <b>{{post.owner}}</b> </a>
					<span style="float:right;"> <a href="/posts/{{post.postid}}/">{{post.created}}</a>
						</span>

				</p>

				<p>
					<img src="/uploads/{{post.filename}}" alt="main img" style="width:480px"></p>
					{% if post.likes==1 %}
						<p>1 like</p>
					{% else %}
						<p>{{post.likes}} likes</p>
					{% endif %}

					{% for comment in post.comments %}
						<p><a href="/users/{{comment.owner}}/"> <b>{{comment.owner}}</b></a> {{comment.text}}</p>
					{% endfor %} 

                    {% if post.like_status == 0 %}                    
                        <form action="/likes/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="operation" value="like"/>
                            <input type="hidden" name="postid" value="{{post.postid}}"/>
                            <input type="submit" name="like" value="like"/>
                        </form>
                        <br>
                    {% else %}
                        <form action="/likes/" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="operation" value="unlike"/>
                            <input type="hidden" name="postid" value="{{post.postid}}"/>
                            <input type="submit" name="unlike" value="unlike"/>
                        </form>
                        <br>
                    {% endif %}

                    <form action="/comments/" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="operation" value="create"/>
                        <input type="hidden" name="postid" value="{{post.postid}}"/>
                        <input type="text" name="text" required/>
                        <input type="submit" name="comment" value="comment"/>
                    </form>

                    <br>


			</div>
		{% endfor %}

	</main>
</body>
</html>