<!DOCTYPE html>
<html lang="en">
    

    <head>
      <meta charset="utf-8">
	    <title>begin page</title>
		  <style>
        a { text-decoration: none; color: black}
      </style>
      <link rel="stylesheet" href="/static/css/style.css">
     
    </head>

    <body>
      <div id = "head">
        <h1>Welcome to Tianrui's web page!</h1>
      </div>


      

      <img src= "https://en.wikipedia.org/wiki/University_of_Michigan">

      <form id = "clickme"action="/main/" method="post" enctype="multipart/form-data">
        <input type="image" src="/pictures/story.webp" height ="100" width="80" name="saveForm" class = "center"  border = 10px/>
          
      </form>

      <form id = "button" action="https://en.wikipedia.org/wiki/University_of_Michigan">
        <input type="image" src="/pictures/Mlogo.png" height ="80" width="80" name="saveForm" class = "center"  border = 10px/>
          
      </form>

    </body>


    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
       
</html>