<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elizabeth Wang Personal Webpage</title>
    <link rel="stylesheet" href="/static/css/style1.css">
    
</head>


<body>
        
    <h1>&spades; <b>Meet Elizabeth Wang</b> &spades;</h1>

   
    <main>
        <section class = "self-intro">
           
            <h2>&clubs; Who am I? &clubs;</h2>
            <img class = "sticky" src="/pictures/updated_profile.JPG"  alt="A picture of Elizabeth Wang" style="width:200px;height:250px;">


            <div id  = "div1">
            <p> Hello, my name is <b>Elizabeth Wang</b>. I am a Junior from University of Michigan and currently pursuing a bachelor’s degree in Computer Science.
            I have worked as a data scientist intern at U.S. Food and Drug Administration and have built the chemical structurally searchable database platform, enabling FDA 
            drug reviewers to efficiently retrieve data on intranet and ensuring FDA’s consistency in the regulatory decisions. I have also interned at NOVA Technology LLC 
            as a software engineering intern and I have developed database-driven websites to help the company to attract more than five thousand customers. 
            </p>

            </div>

            <div id  = "div2">
            <p>
            Outside of classes,I also have participated in a lot of activities on campus. I am the leader of business school’s venture capital practicum team to help local startup to raise 
            venture capital and I also served an APO National Service Fraternity’s brother. 
            I am passionate about programming and I am also good at problem solving and enjoys 
            contributing to the exciting technological advances.
            </p>
            </div>
        </section>
            
        
        <section class = "past-experience">   
            
            <h2>&hearts; Work Experiences &hearts;</h2>
            <p>
                <ul>
                    <img src="/pictures/facebook.GIF" alt="A pic of Facebook's logo" style="width:300px;height:200px;">
                    <li><b>Software Engineer Intern at Facebook</b></li>
                    <img src="/pictures/FDA.PNG" alt="A pic of FDA" style="width:300px;height:200px;">
                    <li><b>Data Science Intern at U.S. FDA</b></li>
                    <img src="/pictures/Roche.jpeg" alt="A pic of Roche" style="width:300px;height:200px;">
                    <li><b>Summer Research Intern at Roche</b></li>
                </ul>
            </p>
        </section> 

        
        <section class = "education">  
            <h2>&diams; Education &diams;</h2>
            <img src="/pictures/U-M.JPEG"  alt="A picture of University of Michigan" style="width:300px;height:200px;">
            <ul>
                <li><b><a href="https://en.wikipedia.org/wiki/University_of_Michigan">University of Michigan, Ann Arbor</a></b></li>
                <li><b>Bachelor's Degree in Computer Science</b></li>
                <li><b>Expected Graduation Date: Dec, 2021</b></li>
                <li><b>GPA: 3.63 / 4.0</b></li>
            </ul>
            <p>
                
            </p>
        </section>  
    
        <button><a href="/Resume/Resume.pdf">Download Elizabeth's Resume</a></button>
    
        

    </main>

    <footer>
        <p>Please Leave Some Feedback:</p>
        <form id = "button" action="/comments/" method="get" enctype="multipart/form-data">
            <input type="image" src="/pictures/Mlogo.png" height ="80" width="80" name="saveForm" class = "center"  border = 10px/>
              
        </form>

        

    </footer>
  

          <!-- <script src = "app.js"></script> -->
          <!-- <h2><a href="nowhere">Who am I?</a></h2> -->
</body>
</html>